
@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />


<h3>MVC Kamp Tablo Öğreni - Kategori </h3>
<br /> <hr />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Adı</th>
        <th>Açıklama</th>
        <th>Durum</th>
        <th>Güncelle</th>
    </tr>
    <tr>
        <td>sddd</td>
        <td>svs</td>
        <td>fdsfd</td>
        <td>sdsfd</td>
        <td> <button class="btn btn-success">Güncelle</button></td>
    </tr>


</table>
<a href="/AdminCategory/AddCategory" class="btn btn-warning">Yeni Kategori</a>
<a href="/Category/GetCategoryList" class="btn btn-warning"> Kategori Listesi</a>
<a  class="btn btn-warning"> Kategori Açıklamaları</a>
