@using EntityLayer.Concrete
@model List<About>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminaLayout.cshtml";
}
<br />
<h2>Hakkımda Verri Listesi</h2>
<hr />
<table class="table table-bordered" style="margin-top:10px" >
    <tr>
        <td>Id</td>
        <td>Hakkımda Başlığı</td>
        <td>Aktif Yap</td>
        <td>Pasif Yap</td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.AboutId</td>
            <td>Başlık</td>
            <td><a href="#" class="btn btn-warning">Aktif Yap</a></td>
            <td><a href="#" class="btn btn-danger">Pasif Yap</a></td>
        </tr>
    }
</table>
@Html.Action("AboutPartial","About")
